body {
    font-family: Arial, sans-serif;
    margin: 0;
}

ul.game-tabs-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.game-tabs-nav-btn {
    float: left;
}

li.game-tabs-nav-btn a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.game-tabs-nav-btn a:hover {
    background-color: #111;
}

li.game-tabs-nav-btn.active {
    background-color: #4CAF50;
}

.game-tabs-pane {
    display: block;
    border: 0;
}

.game-tabs-pane.hide {
    flex: 0 1;
    width: 0;
    height: 0;
}
