html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.game-tabs-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}

li.game-tabs-nav-link {
    float: left;
    display: block;
    color: #2962FF;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
}

li.game-tabs-nav-link:hover {
    background-color: #2979FF;
    color: #fff;
}

li.game-tabs-nav-link.active {
    background-color: #2979FF;
    color: #fff;
}

.game-tabs-nav > .right {
    float: right;
}

.game-tabs-pane {
    display: inline-flex;
    width: 100%;
    border: 0;
}

.game-tabs-pane.hide {
    flex: 0 1;
    width: 0;
    height: 0;
}

.game-tabs-nav-link.add-tab {
    background: #4CAF50;
    color: #fff;
}

.game-tabs-nav-link.add-tab:hover {
    background: #fff;
    color: #4CAF50;
}

.game-tabs-nav-link.remove-tab {
    background: #B71C1C;
    color: #fff;
}

.game-tabs-nav-link.remove-tab:hover {
    background: #fff;
    color: #B71C1C;
}

.game-tabs-nav-link.open-settings {
    background: #FF9800;
    color: #fff;
}

.game-tabs-nav-link.open-settings:hover {
    background: #fff;
    color: #FF9800;
}
